.new-expense_controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .new-expense_control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-expense_control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #b92c2c;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-expense_actions {
    text-align: right;
  }